@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');



/*#region Used to get rid of the annoying edges(HTML set)--------------------------------------*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*#endregion*/
/*#region Background stuff---------------------------------------------------------------------*/

body{
    background-color: rgb(20, 36, 36);
    background-image: url("Images/backgroundmainimage.jpeg");
    background-size: cover;
}
/*#endregion*/
/*#region Nav bar no shit sherlock-------------------------------------------------------------*/

.siteheader {
    height:80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem 4%;
    background:black;
    background-image: url(Images/navbarbg.png);
    font-family: "Oswald",sans-serif;
}

.NavLogo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    font-weight: 700;
    text-decoration: none;
    
}
.NavLogo img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

nav a {


    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Oswald",sans-serif;
}

nav a:hover{
    color: rgb(161, 20, 20);
}

nav p{
    color: rgb(161, 20, 20);
}

.dropdown{
    position: relative;
    color:white;
}

.dropdown-content{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    min-width: 160px;
    z-index: 1000;
}

.dropdown-content a{
    display: block;
    padding: 12px 15px;
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

.dropdown-content a:hover{
    background-color: rgb(161, 20, 20);
    color: white;
}

.dropdown:hover .dropdown-content{
    display: block;
}
/*#endregion*/
/*#region Hero Image---------------------------------------------------------------------------*/

.hero{
    width: 100%;
    min-height: 75vh;
    background-image: 
    linear-gradient(90deg,rgba(0,0,0,0.9)0%,rgba(0,0,0,0.70)55%,rgba(0,0,0,0.15)100%),
    url("Images/heroimage.jpeg");
    background-size: cover;
    background-position: center;
    padding: 3rem 3%;
    display:flex;
    align-items: center;
    justify-content: left;
    
}
.hero-content{
    color: white;
    text-align: left;
    line-height: 2;
    font-family: "Oswald",sans-serif;
    font-size:large;
}
.hero-content h1{
    color:rgb(182, 5, 5);
    font-family: "Bebas Neue",sans-serif;
    border-left: 5px solid rgb(161, 20, 20);
    padding-left: 20px;
    font-size: 3rem;
}
.hero-content h6{
    color:rgb(253, 57, 57);
    font-family: "Oswald",sans-serif;
    font-size:1.2rem;
    border-left: 5px solid rgb(161, 20, 20);
    padding-left: 20px;
}
.hero-content p{
    color: white;
    font-family: "Oswald",sans-serif;
    font-size:medium;
    border-left: 5px solid rgb(161, 20, 20);
    padding-left: 20px;
}
.hero-content a{
    margin: 10px;
    padding: 12px 30px;
    background:rgb(253, 57, 57);
    color:white;
    border: none;
    font-family: "Bebas Neue",sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.hero-content a:hover{
    background-color: rgb(253, 57, 57);
    transform: translateY(-3px);
    box-shadow: 0 5px 20px rgba(24, 24, 24, 0.55);
}
/*#endregion*/
/*#region Why join us section------------------------------------------------------------------*/

.whyjoinus{
    background-color: black;
    background: linear-gradient(rgba(160, 10, 10, 0.4)0%,rgba(0,0,0,1)80%);
    padding: 20px;
    color:white;
    font-family: "Oswald",sans-serif;
    border-top:5px solid black;
    border-bottom:5px solid black;
    padding-bottom: 50px;
}
.whyjoinus h1{
    color:rgba(182,5,5);
    font-family: "Bebas Neue",sans-serif;
}
/*#endregion*/
/*#region Student quickportal section----------------------------------------------------------*/

.studentquickportal{
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
    color:rgb(182, 5, 5);
    font-family: "Bebas Neue",sans-serif;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.8);
    border-left: 10px solid rgba(172, 23, 23, 0.8);
}
.studentquickportal p{
    color: rgb(253, 57, 57);
    font-family: "Oswald",sans-serif;
}
.portalstuff{

    padding-top: 20px;
    display:flex;
    gap:20px;
}
.portalstuff h3{
    font-size: x-large;
}

.portalstuff img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    padding-bottom: 20px;
}

.portalstuff a{
    text-decoration: none;
    display:block;
    color: rgba(182,5,5)
}

.portalstuff a:hover{
    transform:translateY(-5px);
    box-shadow: 0 3px 10px red;
}

.portalcontent{
    border: 5px solid rgb(161, 20, 20);
    background:rgb(34, 34, 34);
    flex:1;
    padding-bottom: 70px;
    text-align: center;
}

.portalcontent p{
    color: white;
    padding:7px;
}
/*#endregion*/
/*#region Highlights section-------------------------------------------------------------------*/
.highlights{
    margin-top:5px;
    padding-top: 25px;
    background-color: black;
    background: linear-gradient(90deg,rgba(182,5,5,0.9)30%,rgba(0,0,0)100%);   
}
.highlights h1{
    color:rgb(0, 0, 0);
    font-family: "Bebas Neue",sans-serif;
    padding-left: 25px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.8);
}
.highlights p{
    color:rgb(255, 255, 255);
    font-family: "Oswald",sans-serif;
    padding-left: 25px;
    font-size: xx-large;
    padding-top: 10px;
}
.highlightcontainer{
    max-width: 90%;
    padding: 25px;
    align-items:center;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    gap:30px;
}
.highlightcontainer img{
    width: 30vw;
    height: 20vw;
    object-fit: cover;
    display: block;
}
/*#endregion*/
/*#region footer-------------------------------------------------------------------------------*/
.sitefooter{
    background-image: url(Images/navbarbg.png);
    color:white;
    border-top: 2px solid white;
    padding:30px;
    font-family: "Oswald",sans-serif;
    text-align: left;
}
.sitefooter img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.sitefooter h3 {
    color: rgb(182, 5, 5);
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.4rem;
}
.footerbottom {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 15px;
    border-top: 1px solid rgb(80, 80, 80);
    text-align: center;
    font-size: 0.9rem;
}
/*#endregion*/
/*#region About Us page------------------------------------------------------------------------*/
.aboutus1 {
    background:black;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    padding:20px;
    border: 1px solid rgba(182,5,5);
    text-align: center;
    justify-content: center;
    color: white;
}

.aboutus1 strong{
    font-size: 1.5rem;
    color:goldenrod;
}

.aboutus1 h1{
    font-family: "Bebas Neue",sans-serif;
    color:rgb(182, 5, 5);
    font-size: xx-large;
    border-bottom: 2px solid rgb(182, 5, 5);
}

.aboutus1 p{
    font-family: "Oswald",sans-serif;
    font-size: large;
}

.aboutus2 {
    background:linear-gradient(rgba(0,0,0,0.9)50%,rgba(0,0,0,0.5)100%);
    padding:20px;
    text-align: center;
    justify-content: center;
    color: rgb(182, 5, 5);
    margin-top: 25px;
    font-family: "Bebas Neue",sans-serif;
}

.aboutusmissions{
    display: flex;
    gap:1%;
}

.aboutusmissionsstuff{
    flex:1;
    border-right: 2px solid white;
    border-left: 2px solid white;
    margin:5px;
    padding:20px 2% 10% 2%;
    background:linear-gradient(rgba(182,5,5,0.5)0%,rgba(0, 0, 0, 0.2)90%)
}

.aboutusmissionsstuff h3{
    padding: 10px 0 5px 0;
    font-family: "Bebas Neue",sans-serif;
    font-size: 2rem;
    color:rgb(255, 255, 255);
    border-bottom: 2px solid white;
}

.aboutusmissionsstuff p{
    padding-top: 50px;
    font-family: "Oswald",sans-serif;
    font-size: 1.2rem;
    color:white;
}
/*#endregion*/
/*#region Training schedule--------------------------------------------------------------------*/
.training{
    background-color: rgba(0,0,0,0.9);
    margin:3% 5% 3% 5%;
    color:white;
    padding:5%;
    align-content: center;
    justify-content: center;
}
.training h1{
    color:rgb(182, 5, 5);
    font-family: "Bebas Neue",sans-serif;
    padding-bottom: 20px;
    text-align: center;
    font-size: 4rem;
}
.training table{
    background-color: rgba(255,255,255,0.8);
    margin: auto;
    border-collapse: collapse;
    width:90%;
    height:80%;
}

.training th, td {
    border: 2px solid rgb(182, 5, 5);
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Oswald",sans-serif;
    font-size: 1.5rem;
}
/*#endregion*/
/*#region Calender*/
.calender{
    background-color: rgba(0,0,0,0.9);
    margin:3% 5% 3% 5%;
    color:white;
    padding:5%;
    align-content: center;
    justify-content: center;
}

.calender h1{
    color:rgb(182, 5, 5);
    font-family: "Bebas Neue",sans-serif;
    padding-bottom: 20px;
    text-align: center;
    font-size: 4rem;
}

.calender table{
    background-color: rgba(255,255,255,0.8);
    margin: auto;
    border-collapse: collapse;
    width:90%;
    height:80%;
}

.calender th, td {
    border: 2px solid rgb(182, 5, 5);
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Oswald",sans-serif;
    font-size: 1.5rem;
}

.calender i{
    background-color: red;
    border-radius: 1rem;
}

.passeddate{
    background-color: rgba(128, 128, 128, 0.608);
}
/*#endregion*/